*{
        margin: 0px; 
        padding: 0px; 
        border: 0px;
		position: relative;
		float: left;
  		text-decoration: none;
	}
	#all{
		position: relative;

		
	}
	#menu{
		width: 100%;
		height: 50px;
		background-color: #0F59AE;
	}
	#backhomepage{
		left: 450px;
		text-decoration:none;
		font-size: 45px;
		color: white;
    }
    #search{
    	width: 300px;
    	height: 30px;
		top: 10px;
		left: 450px;
		font-size: 20px;
    }
    #search-icon{
    	width: 30px;
    	height: 30px;
    	border: 0px;
    	left: 445px;
    	top: 10px;
    	background-color: #2071CE;
    }
    #nav{
    	text-align: center;
    	left: 500px;
    	top: 0px;
    	z-index: 1;
    }
    #nav li{
    	list-style-type: none;
    	text-align: center;
    	display: inline;
    }
    #nav li a{
    	width: 100px;
    	height: 50px;
        text-align: center;
    	background-color: #0F59AE;
    	font-size: 30px;
    	text-decoration: none;
    	color: white;
    }
    #nav li a:hover{
    	background-color: #2071CE;
    }
    #btn-quiz{
    	width: 70px;
    	height: 30px;
    	border: 0px;
        top: 10px;
        left: 550px;
    	background-color: #2071CE;
    	font-size: 15px;
    	color: white;
    	z-index: 1;
    }
    #content{
    	width: 850px;
    	height: 3000px;
    	left: 230px;
    	top: 0px;
    	margin: auto;
    	background-color: #7CCDE6;
    }
    #top-left-a{
    	top: 80px;
    	left: -400px;
    	color: black;
    	z-index: 1;
    }
    #top-right-a{
    	top: 80px;
    	left: 0px;
    	z-index: 1;
    }
    #right{
    	width: 500px;
    	height: 3000px;
    	position: absolute;
    	float: left;
    	top: 0px;
    	left:440px;
    	background-color: #85BED0;
    	


    }
    #tp{
    	position: absolute;
    	width: 500px;
    	top: 90px;
    	left: 400px;
    	
    	z-index: 1
    }
    #tp li {
        position: relative;
        clear: both;
    	list-style-type: none;
    	line-height: 40px;
    }
    #tp li a{
    	text-decoration: none;
    	color: black;
    }
    #tp li a:hover{
    	background-color: red;
    }
    #mid {
        width: 500px;
    	position: absolute;
    	top: 300px;
    	left: 400px;
    	z-index: 1
    }
    #mid li{
    	clear: both;
    	list-style-type: none;
    	line-height: 40px;
    }
    #mid li a{
    	color: black;
    	text-decoration: none;
    }
    #mid li a:hover{
    	background-color: red;
    }
    #bot-a{
        width: 200px;
    	position: absolute;
    	top: 500px;
    	left: 400px;
    	font-size: 25px;
    	z-index: 1;
    }
    #bot-b{
        width: 200px;
    	position: absolute;
    	top: 510px;
    	left: 550px;
    	text-decoration: none;
    	color: black;
    	z-index: 1;
    }
    #bot1{
    	width: 500px;
    	height: 300px;
    	position: absolute;
    	top: 550px;
    	left: 0px;
    	background-color: red;
    	z-index: 1;
    }
    #link-ctn{
    	width: 500px;
    	height: 50px;
    	position: absolute;
    	top: 800px;
    	left: 400px;
    	text-align: center;
    	z-index: 1
    }
    #link-ctn li{
        list-style-type: none;
    	left: 20px;

    }
    #link-ctn li a{
    	text-decoration: none;
    	float: 10px;
    	font-size: 15px;
    	color: #8B8282;
    }
    #ss{
        width: 100px;
    	position: absolute;
    	top: 850px;
    	left: 700px;
    	color: #8B8282;
    	z-index: 1;
    }
    #topic-top{
        top: 70px;
        left: 430px;
        font-size: 25px;
    }
    #topic-change{
        width: 850px;
        height: 300px;
        border: 1px;
        border-color: #8B8282;
        border-style: solid;
        top: 300px;
        left: 220px;
    }
    #topic-square{
        width: 300px;
        height: 200px;
        top: 150px;
        left: 300px;
        background-color: #3282B8;
    }
    #enter{
        width: 150px;
        height: 40px;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        margin: auto;
    }
    #enter a{
        font-size: 20px;
        color: black;
    }
    #discover{
        top: 150px;
        left: 50px;
    }
    #find-top{
        top: 80px;
        left: -600px;
    }
    #find-top li a{
        left: 500px;
    }
    #find-right-top{
        top: 80px;
    }
    #find-right-top li a{
        top: 5px;
        left: 200px;
    }
    #find-right-mid{
        top: 300px;
        left: -115px;
    }
    #find-right-mid li a{
        left: 200px;
    }
    #find-right-bot{
        top: 600px;
        left: -250px;
    }
    #find-right-bot li a{
        left: 200px;
    }
    #find-link-ctn{
        width: 500px;
        height: 50px;
        position: absolute;
        top: 800px;
        left: 50px;
        text-align: center;
        z-index: 1
    }
    #find-link-ctn li{
        list-style-type: none;
        left: 20px;

    }
    #find-link-ctn li a{
        text-decoration: none;
        float: 10px;
        font-size: 15px;
        color: #8B8282;
    }
    #fd{
        width: 100px;
        position: absolute;
        top: 850px;
        left: 500px;
        color: #8B8282;
        z-index: 1;
    }
    #msg-square{
        display: none;
        width: 350px;
        height: 400px;
        border: 3px;
        border-color: black;
        background-color: red;
        top: 200px;
        z-index: 1;
    }
    #character{
        width: 170px;
        height: 50px;
        position: absolute;
        left: 1500px;
        background-color: red;
        z-index: 1;
    }
    #character-mag{
        display: ;
        width: 170px;
        height: 160px;
        position: absolute;
        top: 50px;
        left: 1500px;
        background-color: blue;
        z-index: 1;
    }
    #character-mag li{
        clear: both;
    }
    #character-mag li a{
        line-height: 40px;
    }


    @font-face {font-family: 'search-icon';
    src: url('search/iconfont.eot'); /* IE9*/
    src: url('search/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('search/iconfont.woff') format('woff'), /* chrome、firefox */
    url('search/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('search/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
    }
    .search-icon{
    font-family:"search-icon" !important;
    font-size:22px;font-style:normal;
    color: white;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}

    @font-face {font-family: 'top-left-icon';
    src: url('trends/iconfont.eot'); /* IE9*/
    src: url('trends/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('trends/iconfont.woff') format('woff'), /* chrome、firefox */
    url('trends/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('trends/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */}
    .top-left-icon{
    font-family:"top-left-icon" !important;
    font-size:17px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    top: 80px;
    left: -400px;
    z-index: 1;
    }
    @font-face {font-family: 'top-right-icon';
    src: url('setup/iconfont.eot'); /* IE9*/
    src: url('setup/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('setup/iconfont.woff') format('woff'), /* chrome、firefox */
    url('setup/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('setup/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */}
    .top-right-icon{
    font-family:"top-right-icon" !important;
    font-size:17px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    top: 80px;
    left: 0px;
    z-index: 1;
    }
    @font-face {font-family: 'icon-1';
    src: url('draft/iconfont.eot'); /* IE9*/
    src: url('draft/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('draft/iconfont.woff') format('woff'), /* chrome、firefox */
    url('draft/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('draft/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */}
    .icon-1{
    font-family:"icon-1" !important;
    font-size:15px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 1;
    }
    @font-face {font-family: 'icon-2';
    src: url('collect/iconfont.eot'); /* IE9*/
    src: url('collect/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('collect/iconfont.woff') format('woff'), /* chrome、firefox */
    url('collect/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('collect/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */}
    .icon-2{
    font-family:"icon-2" !important;
    font-size:15px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 1;
    }
    @font-face {font-family: 'icon-3';
    src: url('attention/iconfont.eot'); /* IE9*/
    src: url('attention/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('attention/iconfont.woff') format('woff'), /* chrome、firefox */
    url('attention/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('attention/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */}
    .icon-3{
    font-family:"icon-3" !important;
    font-size:15px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 1;
    }
    @font-face {font-family: 'icon-4';
    src: url('invite/iconfont.eot'); /* IE9*/
    src: url('invite/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('invite/iconfont.woff') format('woff'), /* chrome、firefox */
    url('invite/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('invite/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */}
    .icon-4{
    font-family:"icon-4" !important;
    font-size:15px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 1;
    }
    @font-face {font-family: 'icon-5';
    src: url('question/iconfont.eot'); /* IE9*/
    src: url('question/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('question/iconfont.woff') format('woff'), /* chrome、firefox */
    url('question/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('question/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */}
    .icon-5{
    font-family:"icon-5" !important;
    font-size:15px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 1;
    }
    @font-face {font-family: 'icon-6';
    src: url('topic/iconfont.eot'); /* IE9*/
    src: url('topic/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('topic/iconfont.woff') format('woff'), /* chrome、firefox */
    url('topic/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('topic/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */}
    .icon-6{
    font-family:"icon-6" !important;
    font-size:15px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 1;
    }
    @font-face {font-family: 'icon-7';
    src: url('ifmt/iconfont.eot'); /* IE9*/
    src: url('ifmt/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('ifmt/iconfont.woff') format('woff'), /* chrome、firefox */
    url('ifmt/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('ifmt/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */}
    .icon-7{
    font-family:"icon-7" !important;
    font-size:15px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 1;
    }
    @font-face {font-family: 'icon-8';
    src: url('community/iconfont.eot'); /* IE9*/
    src: url('community/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('community/iconfont.woff') format('woff'), /* chrome、firefox */
    url('community/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('community/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */}
    .icon-8{
    font-family:"icon-8" !important;
    font-size:15px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 1;
    }
    @font-face {font-family: 'icon-9';
    src: url('circle/iconfont.eot'); /* IE9*/
    src: url('circle/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('circle/iconfont.woff') format('woff'), /* chrome、firefox */
    url('circle/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('circle/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */}
    .icon-9{
    font-family:"icon-9" !important;
    font-size:17px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    top: 850px;
    left: 680px;
    z-index: 1;
    color: #8B8282;
    }
     @font-face {font-family: 'icon-10';
    src: url('circle/iconfont.eot'); /* IE9*/
    src: url('circle/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('circle/iconfont.woff') format('woff'), /* chrome、firefox */
    url('circle/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('circle/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */}
    .icon-10{
    font-family:"icon-10" !important;
    font-size:17px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    top: 850px;
    left: 480px;
    z-index: 1;
    color: #8B8282;
    }